/* Color Scheme */
:root {
    --primary-color: #2c363f;
    --secondary-color: #2f97c1;
    --accent-color: #F18f01;
    --accent2-color: #F0eff4;
}

/* Universal styles */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    color: var(--primary-color);
    background-color: var(--accent2-color);
}

h1 {
    text-align: center;
}

h1, h2, h3, p {
    padding: 0 10px;
    margin: 10px;
}

/* Header styles */
header {
    font-size: .8rem;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-bottom: solid 4px var(--accent-color);
    color: var(--accent2-color);
    text-transform:uppercase;
    & img {
            width: 70px;
            height: 100%;
        }
    & a {
        text-decoration: none;
        color: var(--accent2-color);
    }

}

/* Hamburger navigation */
@keyframes slideDown {
    from {
        height: 0px;
    }

    to {
        height: 100px;
    }
}

/* @keyframes slideUp {
    from {
        height: 100px;
    }
    to {
        height: 0px;
    }
} */

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
}
.hamburger:hover {
    background-color: var(--primary-color);
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent2-color);
}

.hamburger.show::before {
    content: "X";
    font-weight: 600;
    font-size: 1.9rem;
    color: var(--accent2-color);
}

/* Navigation */
.navigation {
    display: none;
    margin: auto;
    font-weight: 600;
    text-align: center;
    animation: slideDown .3s ease-out;
    padding: 10px;
    border-bottom: 4px solid var(--secondary-color);
    box-shadow: 0px 8px 5px -5px rgba(0, 0, 0, 0.3);

    & a {
        text-decoration: none;
        color: var(--primary-color);
    }

    & a:hover {
        color: #8b580b;
    }

    & li {
        list-style: none;
        padding: 2px;
    }

    & ul {
        padding: 0;
    }
}

.active {
    background-color:#faefde;
    border-bottom: 4px solid var(--secondary-color);
    border-top: 4px solid var(--accent-color);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.navigation.show {
    display: block;
}
/* End header styles */

/* Main styles */
main {
    padding: 10px;
    max-width: 1000px;
    margin: auto;
}

/* Search box styles */
#search-box {
    display: grid;
    place-items: center;
    padding:20px 20px 0 20px;
    & p {
        text-align: center;
    }
}

.search {
    display: grid;
    grid-gap: .3rem;
    grid-template-columns: 30px 1fr 20px;
    place-items: center;
    
    & input[type="search"] {
        margin: 5px;
        width: 150px;
        font-family: "Montserrat", Arial, sans-serif;
        padding: 5px;
    }

}
.random {
    text-align: center;
    grid-column: 2/3;
    
}

.icon {
    width: 100%;
    margin: 10px;
}

.search-icon {
    cursor: pointer;
}

button, .button {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border: none;
    padding: 15px;
    margin: 10px;
    font-weight: 600;
    border-radius: 10px;
    font-family: "Montserrat", Arial, sans-serif;
    cursor: pointer;

    transition: background-color .3s ease;
}

button:hover, .button:hover, #remove-button:hover {
    background-color:#abd4e6;
    color: var(--primary-color);
}

/* Card styles */
#meal-cards, #exercise-cards, #fav-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    place-items: center;
}

#fav-cards .card {
    cursor: default;
    & .img-container {
        cursor: pointer;
    }
}

.card {
    margin: 10px;
    box-shadow: 0px 2px 5px#2c363f88;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    & h2 {
        text-transform: capitalize;
    }
}

.placeholder-img {
    width: 60%;
    display: block;
    margin: auto;
}

.img-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    & img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        transition: transform 0.3s ease;
    }
}

.img-container:hover img {
    transform: scale(1.10);
}

#remove-button {
    background-color: none;
    color: var(--accent2-color);
}


/* Dialog box styles */

::backdrop {
    background-color:#2c363f7a;
}

#meal-details, #exercise-details {
    width: 85%;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    & img {
            max-width: 100%;
        }
}

iframe {
    border: none;
}


/* Index page styles */
.welcome {
    text-align: center;
    margin: 30px;
    & p {
        padding: 5px;
    }
    & img {
        max-width: 100%;
    }
}
.button {
    text-decoration: none;
    justify-content: center;
}

.button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
/* Attribution page styles */
.att {
    font-weight: 600;
    & li a {
        list-style:disc;
    }
}

/* Favorites page styles */
.no-favs {
    text-align: center;
}

/* Footer styles */
footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 20px;
    text-align: center;
    & a {
        text-decoration: none;
        color: var(--accent2-color);
    }
    & a:hover {
        color: #ebd2ac;
    }
}

